* {
    box-sizing: border-box;
}

body {
    background-color: rgb(207, 162, 94);
}

#container {
<<<<<<< HEAD
    max-width: 800px; /* Adjust the max-width as needed */
=======
    max-width: 800px; 
>>>>>>> 958d1b49a07c982f57a779f97891797e00b45ca4
    margin: 0 auto;
    padding: 20px;
}

#pun-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#pun-list th, #pun-list td {
    border: 1px solid #3d2c2c;
    padding: 8px;
    text-align: left;
    background-color: aliceblue;
}
#pun-list  th{
    width: 100%;
   
}

.editable {
    padding: 10px;
}

#main-nav {
    display: flex;
    justify-content: flex-end;
}

#main-nav a {
    margin-left: 10px;
}

.delete-btn {
    background-color: #f44336; 
}

.delete-btn:hover, .update-btn:hover {
    opacity: 0.8;
}



<<<<<<< HEAD
/* Apply a basic reset to remove default margin and padding */
=======

>>>>>>> 958d1b49a07c982f57a779f97891797e00b45ca4






h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #6e786e;
}

a {
  
    color: #0b75e5;
    text-decoration: none;
}
